
<div class="container wrapper-outer">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="wrapper-box">
        <div>Combo-Box Yo</div>
        {{combo-input-two
            comboName='company'
            options=options
            value=value
            labelField='name'
            valueField='id'
            disabled=comboDisabled
        }}
        {{dummy}}
      </div>
    </div>
    <div class="col-6">
      <div class="wrapper-box">
        <div>options={{options.length}}</div>
        <button class="btn btn-sm btn-danger" type="button" name="button" {{action 'setValue'}}>Set It Yo</button>
        <button class="btn btn-sm btn-danger" type="button" name="button" {{action 'disableCombo'}}>Toggle It</button>
        <div>name={{value.name}}</div>
        <div>value={{value.id}}</div>
        <div class="">
          {{json-dump value}}
        </div>
      </div>
    </div>
  </div>
</div>
{{yield}}
